.mayan-icon {
    margin-left: -4px;
    width: auto;
}

.mayan-icon-fa-dual-symbol {
    margin-right: 14px;
}

.mayan-icon-fa-layers {
    margin-right: 2px;
    width: 1em;
}

.mayan-icon-fa-stack {
    margin-left: -11px;
    margin-right: -5px;
}

.mayan-icon-padding-none {
    margin-right: -4px;
    padding-right: 0px;
 }
